/* Define the "system" font family */
@font-face {
    font-family: system;
    font-style: normal;
    font-weight: 300;
    src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

.hide_me {
    display: none
}

a {
    background-color: gray;
    color: white;
}

a.button, button{ 
    background-color: gray;
    color: white;
    padding: 10px;
    border-radius: 4px;
    margin: 4px;
    outline-style:none;
}

button#random_seed {
    padding: 2px;
}

a:hover { 
  background-color: yellow;
  text-decoration: none;
}


a, canvas {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#links {
    font-size:larger
}

div {
    vertical-align: middle;
    padding: 2px;
}

label {
    display: table;
    padding: 2px;
}

body {
    background-color: #112244;
    image-rendering: pixelated;
}

body.error {
    background-color: darkred
}

select{
    background-color: white;
    color: black;
    margin: 4px auto;
    display: inline-block;
}

.main_div {
    float: auto;
    padding: 10px;
    border: 32px solid transparent;
    border-image: url(border5.png) 64 round;
    color: white;
    background-color: black;
    background-image: url(curtains.png);
    background-position: top; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: 100%; /* Resize the background image to cover the entire container */
    text-decoration-color: #000000;
    font-family: "system";
    max-width:800px;
    min-width:600px;
    margin: auto;
}

#loading{
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -50px;
        margin-left: -50px;
        width: 64px;
        height: 64px;
}

.summarytext{
    font-size: 16px;
    font-weight: bolder;
    border: 32px solid transparent;
    border-top: 16px solid transparent;
    border-image: url(border_page.png) 64 round;
    color: brown;
    background-color: #FCE4A0;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    white-space: pre-wrap;
}

.input{
    background-color: white;
    color: black;
    display: inline;
}

.groove{
    background-color: rgba(34, 34, 34, 0.5);
    color: white;
    border:groove 4px;
    border-color: black;
}

img.groove{
    vertical-align: bottom;
    /* float: inline-start; */
}

.option_div{
}

.log{
    background-color: black;
    color: white;
    white-space: pre-wrap;
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
}

.center {
    text-align: center;
}

input, input[type="radio"], input[type="checkbox"] {
    float: none;
    margin-left: 8px;
    margin-right: 8px;
}

input[type="number"]{
    width:48px
}

input[type="file"], input[type="files"]{
    margin: 4px auto;
    display: inline;
}
